*{
    box-sizing:border-box;
    max-width: 100%;
    text-decoration: none;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper{
    height: 100%;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:orange;
    min-height: 15%;
    padding: 10px 2.5%;
}
header .header-block:nth-child(2){
    text-align: right;
}
section{
    display: grid;
    grid-template-columns: 75% 25%;
    min-height: 85%;
}
.rigth-item{
    background-color:rgb(17, 138, 92);
    padding: 10px;
}
.left-item{
    height: 100%;
}
.rigth-item a{
    color:#333;
}
.content{
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 85%;
}
.left-menu{
    background-color:orange;
    height: 100%;

}
.left-menu div{
    height: 50%;
    padding: 10%;
}
.left-menu div:nth-child(1){
    background-color:aqua;
}

.main-content{
    padding: 10px 10px 0px 10px;
}
footer{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    background-color:blue;
    color:#fff;
    height: 15%;
}
footer .block-footer:nth-child(2){
    text-align: right;
}
.img{
    height: 200px;
}

@media (max-width: 980px){
    .content{
        grid-template-columns: 100%;
    }
}

@media (max-width:720px){
    section{
        grid-template-columns: 100%;
    }
    .left-item{
        order: 2;
    }
    .rigth-item{
        order: 1;
    }
}

@media (max-width:560px){
    header{
        grid-template-columns: 100%;
    }
    footer{
        grid-template-columns: 100%;
    }
}